{% load static %}
{% comment %} {% load messages %} {% endcomment %}
<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Confirmation</title>
</head>
<body>
  {% comment %} {% for message in messages %} {% endcomment %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% comment %} {% endfor %} {% endcomment %}
    
    <h1>Password Reset Confirmation</h1>
    <form method="post">
        {% csrf_token %}
        <label for="password">New Password:</label>
        <input type="password" name="password" required><br><br>
        <input type="submit" value="Reset Password">
    </form>
</body>
</html>
